@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-sans {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

.font-arial {
  font-family: 'Arial', sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: #100904;
}
